<div ng-include='"partials/header.html"'></div>
<div class="container" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Login</h2>
            <form class="form-signin" name="signinForm">
                <div class="form-group" ng-class="{'has-error' : signinForm.email.$invalid }">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email">
                    <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
                </div>
                <div class="form-group" ng-class="{'has-error': signinForm.password.$invalid }">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" ng-minlength="8">
                    <p class="help-block" ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
                </div>
                <label class="checkbox">
                    <a href="#/register"> Sign Up</>
            </label>
            <button type="button" ladda-loading="myload.loading" ng-click="SignIn($event)" ng-disabled="!user.email || !user.password" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block">Sign in</button>
          </form>
        </div>
    </div>
</div>

