<div ng-include='"partials/header.html"'></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Registration</h2>
            <form class="form-signin" name="regForm">
                <div class="form-group" ng-class="{'has-error' : regForm.email.$invalid }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email">
                    <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid email.</p>
                </div>
                <div class="form-group" ng-class="{'has-error': regForm.password.$invalid }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
                    <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 8 characters.</p>
                </div>
                <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
                <button type="button" ladda-loading="myload.loading" ng-click="signUp();" ng-disabled="!user.email || !user.password" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>